<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/willward/IdeaProjects/Final_Group_Project">
        <classes>
            <class name="Signup">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>

            <class name="Login">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>



            <class name="Cart">

            </class>
            <class name="Homepage">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>
            <class name="Locations">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>

            <class name="Orderahead">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>
            <class name="Search">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>
            <class name="Shoppinglist">
                <methods>
                    <include name="method_name"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>