<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/willward/IdeaProjects/Final_Group_Project">
        <classes>
            <class name="Signup">
            </class>
            <class name="Login">
            </class>
            <class name="Locations">
            </class>
            <class name="Homepage">
            </class>
            <class name="Search">
            </class>
            <class name="Shoppinglist">
            </class>
            <class name="Cart">
            </class>
            <class name="Weeklyads">
            </class>
        </classes>
    </test>
</suite>